html {
  box-sizing: border-box;

  font-family: 'Helvetica';
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
	padding-top: 0;
	text-align: center;
	background-color: grey;
}

nav {
	text-align: center;
	height: 55px;
}

nav li {
	margin:0;
	float: left;
	width: 25%;
	display: inline-block;
}

nav a {
color: white;
display: block;
background-color: grey;
text-align: center;
}
