@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
box-sizing: border-box;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
box-sizing: border-box;
font-family: 'Helvetica';
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
	padding-top: 0;
	text-align: center;
	background-color: grey;
	position: relative;
}

nav {
	height: 55px;
	padding-top: 1em;
	background-color: black;
}

nav li {
	margin:0;
	float: left;
	width: 25%;
	display: inline-block;
}

nav ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav a {
	display: inline-block;
	text-align: center;
	width: 100%;
	color: #fff;
	text-decoration: none;
}

h1 {
	margin-top: 0;
	margin-bottom: 1.5em;
	padding-top: 1.5em;
	font-size: 3em;
	color: #fff;
}

img {
	width: 100%;
}

h2 {
	text-align: center;
	font-size: 2.5em;
	padding-top: 1em;
}

h3 {
	font-size: 1.75em;
	margin: 1em;
}

dd {
	margin: 0;
}

dl {
	margin: 2em;
}

p {
	text-align: center;
	margin: 0 auto;
}

footer {
	background-color: grey;
	color: #fff;
	overflow: hidden;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

.sevenwonders {
	position: relative;
	margin: 0;
	padding: 0;
}

.headline {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 3em;
	color: #fff;
}

.head {
	font-size: 1.75em;
}

.image1, .image2 {
	padding: 2em;
}

.one, .two, .three {
	float: left;
	width: 33.3%;
	padding-bottom: 2em;
}

.learn {
	width: 50%;
	text-align: center;
	display: block;
	text-decoration: none;
	margin: 0 auto;
	border: 2px solid black;
	color: black;
	padding: 0.75em;
	clear: both;
}

.footerlinks, .price, .tele {
	list-style-type: none;
}

.price a, .tele a {
	width: 50%;
	float: left;
	text-align: center;
	display: block;
	text-decoration: none;
	margin: 0 auto;
	color: black;
	border: 2px solid black;
	padding: 0.75em;
}

.times {
	width: 50%;
	text-align: center;
	display: block;
	text-decoration: none;
	margin: 0 auto;
	border: 2px solid black;
	color: black;
	background-color: #fff;
	padding: 0.75em;
}

.atlantis {
	position: relative;
	margin: 0;
	padding: 0;
}

.atltext {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 5em;
	color: #fff;
}

.mystery {
	padding-bottom: 2em;
}

.buy {
	color: black;
	background-color: #fff;
	font-size: 2em;
	border: 2px solid black;
	padding: .25em;
	position: absolute;
	bottom: 5em;
	right: .2em;
}

.logo {
	width: 15%;
	position: absolute;
	bottom: 10em;
	left: 1.7em;
}

.museumof {
	padding: 0;
}

@media only screen and (min-width: 30em) {

	html {
		font-size: 110%;
		line-height: 1.4;
	}

.image1, .image2 {
	width: 50%;
	padding: 0;
}

.image1, .image2 {
	float: left;
}

.image2 {
	float: right;
}

.left, .right {
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
	margin: 0;
}

.bottom {
	clear: both;
}

.satsun {
	float: left;
	width: 45%;
	padding-bottom: 1em;
}

.wed {
	float: right;
	width: 45%;
	padding-bottom: 1em;
}

.headline {
	padding: 1em;
}

.logo {
	top: 2em;
	left: 13em;
	width: 16%;
}

.buy {
	bottom: 2em;
	left: 6em;
	width: 20%;
}

.learn {
	width: 100%;
	margin-bottom: 2em;
}

.alex {
	width: 100%;
}
}


@media only screen and (min-width: 39em) {

		html {
		font-size: 120%;
		line-height: 1.5;
	}

.learn{
	width: 50%;
}

.logo {
	top: 1em;
	left: 21em;
	width: 12%;
}

.buy {
	left: 10em;
	width: 15%;
	padding: 0;
}

.alex {
	width: 100%;
}

@media print {

	nav {
		display: none;
	}
}
